@import url('https://fonts.googleapis.com/css?family=Montserrat:400|Poppins:400');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
html {
	font-size: 100%;
	height: 100%;
} /*16px*/

body {
  background-color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1.65;
  color: #333;
  height: 100%;
}

p {margin-bottom: 1.15rem;}

h1, h2, h3, h4, h5 {
  margin: 2.75rem 0 1.05rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  line-height: 1.15;
}

h1 {
  margin-top: 0;
  font-size: 3.052em;
}

h2 {
	font-size: 2.441em;
	font-weight: 800;
}

h3 {font-size: 1.953em;}

h4 {font-size: 1.563em;}

h5 {font-size: 1.25em;}

small, .text_small {font-size: 0.8em;}

.hero{
    height: 100vh;
    background-color: #b3b1b1;
}

.grafica{
    position: absolute;
}

.pinna{
    height: 100vh;
}

svg {
    /* padding-top: 25%; */
    width: 80%;
    height: auto;
    display: block;
    margin: auto;
}





.st0{fill:#0F564F;}
	.st1{fill:#137167;}
	.st2{fill:#11675E;}
	.st3{fill:#178B7F;}
	.st4{fill:#96702A;}
	.st5{fill:#CB9839;}
	.st6{fill:#838383;}
	.st7{fill:#1C3056;}
	.st8{fill:#EBEBEB;}
	.st9{fill:#1BA193;}
	.st10{fill:#EBAF42;}
	.st11{fill:#862C23;}
	.st12{fill:#DD493A;}
	.st13{fill:#812B22;}
	.st14{enable-background:new    ;}
	.st15{fill:#8A8A8A;}
	.st16{fill:#858585;}
	.st17{fill:#C2C2C2;}
	.st18{fill:#FBFBFB;}
	.st19{fill:#8C8C8C;}
	.st20{fill:#949494;}
	.st21{fill:#F6F6F6;}
	.st22{fill:#8F8F8F;}


