@import url("https://fonts.googleapis.com/css?family=Montserrat:400|Poppins:400");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
html {
  font-size: 100%;
  height: 100%;
} /*16px*/

body {
  background-color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.65;
  color: #333;
  height: 100%;
}

p {
  margin-bottom: 1.15rem;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 2.75rem 0 1.05rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.15;
}

h1 {
  margin-top: 0;
  font-size: 3.052em;
}

h2 {
  font-size: 2.441em;
  font-weight: 800;
}

h3 {
  font-size: 1.953em;
}

h4 {
  font-size: 1.563em;
}

h5 {
  font-size: 1.25em;
}

small,
.text_small {
  font-size: 0.8em;
}

.hero {
  height: 100vh;
  background-color: #b3b1b1;
}

.grafica {
  position: absolute;
}

.pinna,
.pinna2 {
  height: 100vh;
}

svg {
  /* padding-top: 25%; */
  width: 80%;
  height: auto;
  display: block;
  margin: auto;
}

#Cerchio {
  opacity: 0.4;
}

.st0 {
  fill: #0f564f;
}
.st1 {
  fill: #137167;
}
.st2 {
  fill: #11675e;
}
.st3 {
  fill: #178b7f;
}
.st4 {
  fill: #96702a;
}
.st5 {
  fill: #cb9839;
}
.st6 {
  fill: #838383;
}
.st7 {
  fill: #1c3056;
}
.st8 {
  fill: #ebebeb;
}
.st9 {
  fill: #1ba193;
}
.st10 {
  fill: #ebaf42;
}
.st11 {
  fill: #862c23;
}
.st12 {
  fill: #dd493a;
}
.st13 {
  fill: #812b22;
}
.st14 {
  enable-background: new;
}
.st15 {
  fill: #8a8a8a;
}
.st16 {
  fill: #858585;
}
.st17 {
  fill: #c2c2c2;
}
.st18 {
  fill: #fbfbfb;
}
.st19 {
  fill: #8c8c8c;
}
.st20 {
  fill: #949494;
}
.st21 {
  fill: #f6f6f6;
}
.st22 {
  fill: #8f8f8f;
}

.st23 {
  fill: #e24a3b;
}
.st24 {
  fill: #78281f;
}
.st25 {
  fill: #862c23;
}
.st26 {
  fill: #dd493a;
}
.st27 {
  fill: #812b22;
}
.st28 {
  fill: #de493a;
}
.st29 {
  fill: #e44b3b;
}

/* grafica per la ricerca e risultati ricerca */

#searchResults {
    list-style: none;
    margin: 0 auto;
    text-align: center;
    display: block;
    padding-left: 0;
    width: 100%;
    height: 400px;
    overflow: auto;
}

.singleResult {
    background: #fff;
    font-family: 'Inconsolata', sans-serif;
    font-weight: 100;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    margin: 5px;
    /* min-width: 400px; */
    border-bottom: 1px solid #ddd;
    border-radius: 6px;
    color: #777;
}

.singleResult p {
    font-size: 16px;
    letter-spacing: 0.5px;
}

.singleResult:hover{
  cursor: pointer;
}

.scroll-downs {
  position: absolute;
  right: 0;
  bottom: 30px;
  left: 0;
  margin: auto;
  
  width :34px;
  height: 55px;
}
.mousey {
  width: 3px;
  padding: 10px 15px;
  height: 35px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 25px;
  opacity: 0.75;
  box-sizing: content-box;
}
.scroller {
  width: 3px;
  height: 10px;
  border-radius: 25%;
  background-color: rgb(0, 0, 0);
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(.15,.41,.69,.94);
  animation-iteration-count: infinite;
}
@keyframes scroll {
  0% { opacity: 0; }
  10% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(15px); opacity: 0;}
}





@media (max-width: 768px) {
  html {
    font-size: 80%;
  }

  .scroll-downs {
    bottom: 20px;
    width :23px;
    height: 37px;
  }
}


