/* CSS file instruction */
@import url("https://fonts.googleapis.com/css?family=Montserrat:400|Poppins:400");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
html {
  font-size: 100%;
  height: 100%;
} /*16px*/

body {
  background-color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.65;
  color: #333;
  height: 100%;
}

p {
  margin-bottom: 1.15rem;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 2.75rem 0 1.05rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.15;
}

h1 {
  margin-top: 0;
  font-size: 3.052em;
}

h2 {
  font-size: 2.441em;
  font-weight: 800;
}

h3 {
  font-size: 1.953em;
}

h4 {
  font-size: 1.563em;
}

h5 {
  font-size: 1.25em;
}

small,
.text_small {
  font-size: 0.8em;
}

.hero {
  height: 100vh;
  background-color: #b3b1b1;
}
body {
    font-size: 16px;
}

#map {
    position: absolute;
    top: 70px;
    bottom: 0; 
    left: 0; 
    right: 0;
    z-index: 1;
}

#searchBox {
    position: absolute;
    top: 95px;
    left: 8px;
    z-index: 2;
    width: 350px;
}

#search {
    position: relative;
    float: left;
    width: 70%;
}

#button {
    position: relative;
    float: left;
    width: 30%;
}


.dropdown {
    z-index: 2;
    position: absolute;
    top: 8px;
    left: 8px; 
    width: 100px;
}

#resultMenu {
    max-height: 400px;
    overflow-y: auto;
    max-width: 250px;
    overflow-x: auto;
}

#optionS {
    margin-bottom: 2px;
}

.dropup {
    position: absolute;
    bottom: 0px;
    left: 50%;
    z-index: 2;
    display: none;
}

#resultBar {
    position: absolute;
    bottom: 0px;
    right: 200px;
    left: auto;
    z-index: 2;
    display: none;
}
.leaflet-popup-content{
    max-height: 250px;
    overflow: auto;
}
.leaflet-popup-content:hover{
    cursor: pointer;
}

.loader{
    margin: 0 0 2em;
    height: 100px;
    width: 100%;
    text-align: center;
    padding: 1em;
    margin: 0 auto 1em;
    display: none;
    vertical-align: top;
    z-index: 1000;
    position: absolute;
    top: 50%;
  }
  
  /*
    Set the color of the icon
  */
  svg path,
  svg rect{
    fill: #ff4800;
  }

  svg#loader-1{
    background-color: rgba(0, 0, 0, 0.068);
    width: 80px;
    height: 80px;
  }



  /* settings for mobiles */

  @media all and (max-width: 499px) {
    #resultMenu {
        max-width: 200px;
        overflow-y: auto;
    }
 
    #resultBar {
        position: absolute;
        bottom: 0px;
        left: 40%;
        right:auto;
        z-index: 2;
        display: none;
    }
  }

  


@media (max-width: 768px) {
    html {
      font-size: 80%;
    }
  
    .scroll-downs {
      bottom: 20px;
      width: 23px;
      height: 37px;
    }
  }
  