/* CSS file instruction */

body {
    font-size: 16px;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0; 
    left: 0; 
    right: 0;
    z-index: 1;
}

#box {
    position: absolute;
    top: 8px;
    left: 8px;
    width: 200px;
    height: 275px;
    z-index: 2;
    background-color: white;
}

#option {
    padding: 5px;
}

#resultBar {
    position: absolute;
    top: 80px;
    right: 5px;
    width: 250px;
    height: 80%;
    z-index: 2;
    display: none;
    background-color: gray;
}

#resultBox {
    background-color: white;
    position: relative;
    padding: 3%;
}

.loader{
    margin: 0 0 2em;
    height: 100px;
    width: 100%;
    text-align: center;
    padding: 1em;
    margin: 0 auto 1em;
    display: none;
    vertical-align: top;
    z-index: 1000;
    position: absolute;
    top: 50%;
  }
  
  /*
    Set the color of the icon
  */
  svg path,
  svg rect{
    fill: #ff4800;
  }

  svg#loader-1{
    background-color: rgba(0, 0, 0, 0.068);
    width: 80px;
    height: 80px;
  }