#choose-banner{
    background-color:lightgray;
    padding: 100px 0 100px 0;
}

.navbar-wikimaps{
    background-color: white;
    padding: 10px 70px !important;
}

#btn-choose-banner-discover{
    padding: 10px 40px;
}

#btn-choose-banner-search{
    padding: 10px 40px;
}
.homepagetile{
    height: 90vh;
    display: flex;
    justify-content: center;
    
}



@media screen and (max-width: 575px) {
    #burger {
         display: none; 
        } 
  }